.blink_me {
    animation: blinker 1.5s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0.25;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}
  
.bounce_me {
    animation: bounce 0.55s ease-in-out;
    animation-iteration-count: 2;
}
  